gensim
requests
html2text
python-Levenshtein

# jupyter notebooks
scikit-learn
matplotlib

# dev
pylint
pytest>=4.6   # Required by newer versions of pytest-cov
pytest-cov
python-coveralls
mypy
sphinx
sphinx-autodoc-typehints
